
{ box-sizing: border-box;}  

body {
  font-size: 16px;
    
    font-family: 'Roboto', sans-serif;
}

header, nav, main, footer {
  max-width: 100%;
 
}
header {
    display: flex;
    background-color: #2f4154;
    color: #e7e7e7;
    text-align: center;
    }

header img {
    padding: 25px 25px 0px 25px;
}

.heading {
    position: absolute;
    margin: 1em 0;
}

.subheading {
    padding: 10px 0;
}
@media only screen and (max-width:37.5em){
nav {
    background-color:#579b91;
}
nav button {
    color: #9ddbd4;
    background-color: transparent;
    font-size: 1.6rem;
    padding:10px 20px;
    position: absolute;
    top: 3rem;
    right: .2rem;
    border: none;
    }
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav ul li {
    display:none;
}

    #primaryNav.hide {
        position: relative;
    }
    #primaryNav.hide li {
        background-color: #579b91;
        display: flex; 
        width: 100%; margin: 2px 0; 
    }
    
    #primaryNav.hide li a {
        padding: 1rem; 
        text-align: center;
        display: flex; 
        text-decoration: none;
    }

}

.active {
        background: linear-gradient(#2f4154 0%, #2f4154 100%);
     }
main {
    text-align: center;
    color: #2f4154;
    padding: 0 2%;
}
main figure.franklin { width:100%; margin: 0; }
main figure.franklin img {width:100%}
main h2 {
    color: #579b91;
    padding: 20px;
}

main article {
    display: flex;
    flex-flow: column;
}

article img {
   width: 100%;
    height: auto;
    padding-top: 50px;
}



.record {
    padding: 0px 30px 20px 10px;
}


table{
    border-collapse: collapse;
    width:100%
}
th, td{
    text-align: left;
    padding: 8px;
    color: #e7e7e7;
    background-color:#579b91;
}
.forecast {
    clear:both;
    display: none;
    color: #9ddbd4;
        }

h3 {
    color: #579b91;
}


footer {
    text-align: center;
    color: #9ddbd4;
    padding: 20px;
    font-size: 10px;
    }
footer a {
    color: #9ddbd4;
}

* {
    box-sizing: border-box;
    margin: 0;
}


/* gallery page */

h1 {
    padding: 20px;
    color: #579b91;
}

.gallery {
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px;
        
    }
    .article-img {
        display: block;
        padding: 10px;
    }

figure {
    display: block;
    padding: 10px 10px 0 10px;
}

.border {
    background-color: #e7e7e7;
}

 .article-img img  {
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    padding: 0px 0px;
}

figcaption {
    padding: 5px 0;
    color: #2f4154;
    font-size: 12px;
}

/* Storm Center */

fieldset {
    margin: 2rem 0;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    padding: .5rem 2%
}

legend {
    margin: 0 1rem;
    padding: 0 .5rem;
}

input {
    padding: .1rem;
}

label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 1rem;
    color: #579b91;
  
}

label > span {
    width: 20%;
    
}

#legendtest {
    text-align: left;
    padding-top: 15px;
    color: #579b91;
}

#ratingvalue {
    width: 10%;
}

.sbs {
    color: #2f4154;
    padding: 10px 30px 0px 40px;
}


textarea {
    width: 600px;
    height: 120px;
    padding: 6px 10px;
    background-color: #e7e7e7;
    font-size: 16px;
    resize: none;
}

.submitBtn {
    border: none;
    background-color: #9ddbd4;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 100%;
    max-width: 20rem;
}

/*Home page */

.cityInfo {
    padding: 20px 20px 10px 40px;
}


.cityInfo .fgs {
    display: flex-inline;
}

.leftColumn {
    flex: 100%;
    min-height: 150px;
}

.leftColumn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rightColumn {
    flex: 100%;
}

.information {
    padding: 15px;
}