html {
  font-family: 'Ubuntu', sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid #bebebe;
  font-size: 12px;
  box-shadow: 8px 8px 10px #628ca6;
  overflow: hidden;
}

th {
  background-color: #7fb9c2;
  font-size: 20px;
}

td, th {
  border: 1px solid #bebebe;
  padding: 10px 15px;
}

td {
  text-align: center;
}

tr:nth-child(5) td:nth-child(3) {
    background-color: #628ca6;
}

tr:nth-child(1) td:nth-child(1) {
    color: white;
    background-color: #628ca6;
    font-size: 16px;
    font-weight: bold;
}

tr:nth-child(1) td:nth-child(2) {
    color: white;
    background-color: #628ca6;
    font-size: 16px;
    font-weight: bold;
}

tr:nth-child(1) td:nth-child(3) {
    color: white;
    background-color: #628ca6;
    font-size: 16px;
    font-weight: bold;
}


tr:nth-child(even) td {
  background-color: #e7ffed;
}

tr:nth-child(odd) td {
  background-color: #e7f0ed;
}

#footer {
    color: black;
    background-color: #7fb9c2;
    font-weight: normal;
    font-size: 10px;
}

