
{ box-sizing: border-box;}  

body {
  font-size: 16px;
    
    font-family: 'Roboto', sans-serif;
}

header, nav, main, footer 
  max-width: 100%;

header {
    color: #e7e7e7;
    background-color: #2f4154;
    padding: .5rem 2%;
}
header h1 {
    margin:0;
    font-size: 40px;
    color: #9ddbd4;
}
header figure.logo {
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 2% 0 0;
}
header h2 {
    margin: 0;
    font-weight: normal;
}

nav {
    background-color:#579b91;
}
nav button {
    display: block;
    position: absolute;
    top: 3rem;
    right: .2rem;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #2f4154;
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav ul li {
    display:none;
}

@media only screen and (max-width:37.5em){

    #primaryNav.hide {
        position: relative;
    }
    #primaryNav.hide li {
        background-color: #579b91;
        display: block; 
        width: 100%; margin: 2px 0; 
    }
    
    #primaryNav.hide li a {
        padding: 1rem; 
        text-align: center;
        display: block; 
        text-decoration: none;
    }

}

main {
    text-align: center;
    color: #e7e7e7;
    background-color: #2f4154;
    padding: 0;
}
main figure.franklin { width:100%; margin: 0; }
main figure.franklin img {width:100%}
main h2 {
    font-size: 37px;
    color: #9ddbd4;
}
main figure.lightening { width:50%; margin: 0 0 0 25%; }
main figure.lightening img {width:100%}

table{
    border-collapse: collapse;
    width:100%
}
th, td{
    text-align: left;
    padding: 8px;
    color: #579b91;
    background-color:#e7e7e7;
}
.forecast {
    display: none;
    color: #9ddbd4;
        }

h3 {
    color: #9ddbd4;
    font-size: 37px;
}

footer {
    text-align: center;
    color: #579b91;
    background-color: #2f4154;
    padding: 20px;
    }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* gallery page */

    
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
        align-items: stretch;
        
    }
    .gallery img{
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
        max-width: 100%
    }
