* { box-sizing: border-box;} 

body {
  font-size: 16px;
    
    font-family: sans-serif;
}

header, nav, main, footer {
    max-width: 100%; 
    background-color: #2f4154;
}

header {
    color: #e7e7e7;
}
header h1 {
    text-align: center;
    font-size: 40px;
    padding: 10px;
    color: #9ddbd4;
}
header img {
    position: absolute;
    left: 20px;
    top: 40px;
}
header .subheading {
    text-align: center;
    padding:10px;
}

nav {
}
nav button {}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    text-align: center;
    background-color:#579b91;
}
nav ul li {
    display:inline;
}
nav ul li a {
    display:inline-block;
    color:#e7e7e7;
    text-align; center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li.active a {
    color: #9ddbd4;
}
nav ul li a:hover {
    color:black;
}

main {
    text-align: center;
    color: #e7e7e7;
    background-color: #2f4154;
    padding: 5px;
}
main h2 {
    font-size: 37px;
    color: #9ddbd4;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { }

table{
    border-collapse: collapse;
    width:100%
}
th, td{
    text-align: left;
    padding: 8px;
    color: #579b91;
    background-color:#e7e7e7;
}
.forecast {
    color: #9ddbd4;
        }
h3 {
    color: #9ddbd4;
    font-size: 37px;
}

footer {
    text-align: center;
    color: #579b91;
    background-color: #2f4154;
    padding: 20px;
    }